div{
		width: 250px;
		height: 260px;
		
	}
	#one{ 
		padding-bottom:10px;
		border: 2px solid red;
		padding-bottom: 10px;
		

	}
	#two{
		padding-bottom:10px;
		border: 2px solid red;
		
	}
	#tree{
		 
		padding-bottom:10px;
		border: 2px solid red;
		padding-bottom: 10px;
		

	}